@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rubik:wght@700&family=Space+Grotesk:wght@500&family=Space+Mono:ital,wght@0,700;1,700&display=swap");


/* section home-child  (start)*/
.container{
  
  margin-bottom: 80px;
  box-shadow: 10px 10px 10px rgba(12, 3, 27, 0.226); 
  

  

}
.child-img .chil-img-1{
  border: 1px solid transparent;
 margin-left: 120px;
 /* margin-top: 40px; */
  
}
.child-title{

  text-align: center;
  color: gray;
  font-size: 25px;
  font-weight: 900;
}
p{
  margin-top: 20px;
  text-align: center;
}
.home-child{
  
  display: flex;
}
 .home-child-jn{
 padding-right: 10%;
 padding-left: 10%;
} 
.home-redes{

  display: flex;
  margin-top: 10px;
  justify-content: center;

}

.home-redes i{
  color: black;
  margin: 15px;
  font-size: 30px;
}

.home-redes .uno{
 color: blue;
}
.home-redes .dos{
  color: rgb(225, 0, 255);
}
.home-redes .tres{
  color: red;
}
.home-redes .cuatro{
  color: rgb(0, 204, 255);
}
/*  (end)*/



.father-content{
  display: flex;
  border: 1px solid transparent;
  margin: 0;
}
.anuncios-content-item img{
  height: 400px;
  width: 400px;
}


.anuncios-left{
  border: 1px solid transparent;
  
}

.anuncios-child-timg{
  box-shadow:  0 0 0.3rem rgba(0, 0, 0, 0.5);
  margin: 50px;
  margin-right: 20px;
  padding: 20px;
}
.anuncios-child-timg .fecha{
 
  text-align: end;
}
.anuncios-child-timg .timg-title{
  font-size: 30px; 
  color: rgb(87, 86, 86);
  font-weight: 800;
}
.anuncios-child-timg .sub-title{
  
  text-align: start;

}
.anuncios-child-timg .description{
  width: 90%;
 
  text-align: start;
  margin:0;
}
.anuncios-child-timg .img0{
  margin-top: 30px;
  height: 400px;
  width: 700px;
}

.anuncios-imgFather{
  display: flex;
}
.anuncios-imgFather .img1{
  width: 450px;
  height: 400px;
  margin-right: 10px;
  margin-top: 30px;

}
.anuncios-imgFather .img2{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;



}
.anuncios-imgFather .img3{
  width: 250px;
  height: 190px;




  
}
.imgFather-1{
  display: flex;
  flex-direction: column;
}







.anuncios-right{
  border: 1px solid transparent;
}
.anuncios-content{
  
  box-shadow:  0 0 0.3rem rgba(0, 0, 0, 0.5);
  margin: 50px;
  margin-left: 0px;
  padding: 15px;
  
}
.anuncios-content .timg-title{
  font-size: 20px; 
  color: rgb(87, 86, 86);
  font-weight: 800;
}
.anuncios-content-item{
  
  display: flex;
  flex-direction: column;
  
}

.course{
  
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 30px;
  transition: all 400ms ease;
  box-shadow:  0 0 0.3rem rgba(0, 0, 0, 0.5);

}
.course_image img{
  height: 280px;
}
.course:hover{
  background: transparent;
  
  
}
.course_info{
  padding: 2rem;
}
.course_info p{
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;

}

.btn-1{
 
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
  border-radius: 0.4rem;
  background: #9B59B6;
  color: white;
  transition: 1s ease;
  
}
.btn-1:hover{
  box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, 0.15);
}