
 .container-info-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.title-suplemento h1{
    color: #9B59B6;
}
.name-product-info h1{
    color: black;
}
/* .conten-info-product{
    margin: 25px;
   

}*/
.img-product-info{
    display: flex;
    justify-content: center;
}
.antes-info{
    color: brown;
    font-weight: 600;
}

.antes-info del{
    color: brown;
    text-decoration-line: line-through;
    font-weight: 600;
}
.ahora-info{
    color: #7D8EB5;
    font-weight: 600;
}
/*
.span-caracteristica{
    background-color: #9B59B6;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    border-top: 1px solid rgba(139, 139, 139, 0.986);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.884);
    width: 60%;
}
.span-caracteristica span{
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.container-list-cararteristica{
    background-color: #D9D9D9;
    padding: 10px;
    width: 60%;
}
.container-list-cararteristica p{
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px;
} */