
 .contenedor-info-somos{
    background: #1b3d6db4;
    
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 10px;
}

.title-info-somos{
    text-align: center;
    font-size: 25px;
}
.parrafo-info-somos{
    text-align: center;
    color: white;
    font-family: serif;
    font-size: 25px;
    padding-right: 12%;
    padding-left: 12%;
}
.contenedor{
background-color: rgb(73, 73, 158);
height: 50vh;
margin: 5%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: rgb(161, 72, 161) 20px solid;
margin: 20px
}   
.buttom-info-somos{

 display: flex;
 justify-content: center;
 align-items: center;


}
.button-info{

    margin-top: 25px;
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background: purple;
    color: aliceblue;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
    width: 22rem;
}








.container-info-horizontal{
    
    display : flex;
   /* background-color:rgba(54, 51, 51, 0.116); */
   padding: 30px;
   margin: 13px 20px;
   padding-left: 6%;
    padding-right: 6%;
    border-radius: 25px;
 }

.parrafo-info1{
    padding: 10px;
    border-radius: 25px;

}
.parrafo-info1 p{
    
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
    
}
.parrafo-info2{
   
    background: pink ;
    border-radius: 7px;
    border-radius: 25px;

}
.parrafo-info2 p{
    
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
}
.container-gomitas-vertical{
    
    display : flex;
   /* background-color:rgba(54, 51, 51, 0.116); */
   padding: 30px;
   margin: 13px 20px;
   padding-left: 6%;
    padding-right: 6%;
 }

.parrafo-gomitas1{
    padding: 10px;
    background: pink ;
    border-radius: 25px;
}
.parrafo-gomitas1 p{
    
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
    
}

.parrafo-gomitas2 p{
    
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
} 

.titulo {
   display: flex;
   justify-content: center;
   height: 90px;
   font-size: 50px;
}

.colaboradores {
    display: flex;
    justify-content: center;
    height: 90px;
    font-size: 30px;
 }

.acerca{
 color: red;
}
.de{
 color: orangered;
}
.nuestro{
  color: green;
}
.producto{
  color: blueviolet;
}




.padre{
    display : flex;
    padding: 30px;
    margin: 13px 20px;
    padding-left: 6%;
     padding-right: 6%;
    
}

.padre p {
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
}

.hijo1{
    
    background-color:rgba(54, 51, 51, 0.116);
    margin: 50px;
    border-radius: 35px;
}

.hijo2{
    background-color:rgba(54, 51, 51, 0.116);
  margin: 50px;
  border-radius: 35px;

}

.madre{
    display: flex;
    padding: 30px;
    margin: 13px 20px;
    padding-left: 6%;
    padding-right: 6%;
}

.madre p{
    padding-left: 15%;
    padding-right: 15%;
    padding: 10%;
}

.hija1{
    background-color:rgba(54, 51, 51, 0.116);
  margin: 50px;
  border-radius: 35px;

}

.hija2{
    background-color:rgba(54, 51, 51, 0.116);
  margin: 50px;
  border-radius: 35px;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-cita{
    height: 1200px;
    width: 100%;
    background-color:rgba(54, 51, 51, 0.116);
    padding: 130px;
    margin: 13px 20px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.form-cita h4{
    font-size: 32px;
    
    
}

.controls {
    margin-top: 20px;
    margin-left: 720px;
    width: 50%;
    background: rgb(245, 245, 252);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid;
    font-size: 20px;
}

.control{
    margin-top: 20px;
    margin-left: 720px;
    width: 50%;
    background: rgb(245, 245, 252);
    padding: 100px; 
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    max-width: 100%;
    height: 5rem;
    max-height: 15rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    
}

.botons {
    color: azure;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 60%;
    width: 320px;
    background: rgb(109, 66, 179);
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.parra {
    margin-left: 720px;
    font-size: 20px;
}

.content-cards{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-cards .card{
    position:relative ;
    width: 300px;
    height: 300px;
    background: #000;
    margin: 20px;
    border-radius:10px;
    cursor: pointer;
}

.content-cards .card .card-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    background: rgb(226, 74, 99);
    border-radius: 10px;
    padding: 10px;
}
.content-cards .card .card-content h4{
    color: #fff;
    margin: 20px 0px;
    font-size: 17px;

}
.content-cards .card .card-content p{
    color: #fff;
    line-height:30px ;
    font-size: 15px;
}

.content-cards .card img {
  position:absolute ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 1s ;
}

.content-cards .card:hover img{
    clip-path: polygon(100% 0% ,100% 0% , 100% 100%,100% 100%,100% 50%);
}

.ste{

   display: flex;
   margin-left: 220px;
   
}

.mil{
    display: flex;
    margin-right: 220px;
}

.content-cards .kev .card .card-content {
    background: rgb(74, 203, 226);
}

.content-cards .car .card .card-content{
    background: rgb(74, 203, 226);
}

.content-cards .gab .card .card-content{
    background: rgb(74, 203, 226);
}