/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  'Open Sans', sans-serif, Arial, Helvetica;
}



/*====== Slider======*/ 
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: #9B59B6;
    padding: 5px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(380px*10);
    transition: 3s ease;
}
.slider .slide{
    width: 380px;
}
.slider .slide h1{
    width: 100%;
}
h1{
    font-size: 10px;
    color: white;
    padding: 14px;
   font-family:sans-serif;
}
span{
    text-decoration: double;
    color: black;
    font-family: sans-serif;
}
@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-275px * 2));
        transform: translateX(calc(-275px * 2));

    }
}
/*======Menu de navegacion principal====*/

.nav-principal{
    padding: 25px;    
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}
.b{
    font-size: 28px;
    padding-right: 20px;
}
.nav-i{
  display: flex;
}
label{
    background-color: #F2F4F6;
}
/* ========= sub nav =========*/
.sub-nav{
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
}
.detalleschiky{
    display: flex;
}

.aliados{
    display: flex;
}
.det-info{
    font-size: 12px;
    padding-right: 10px;

}
.det-aliados{
    font-size: 12px;
    padding-right: 10px;
    padding-bottom: 5px;
}
/*==slider publidid=====*/
.slider-publicidad{
  width: 100%;
  margin: auto;
  height: 450px;
  overflow: hidden;
  
}

.slider-publicidad ul{
  padding: 0;
  display: flex;
  width: 400%;
  animation: slider 16s infinite;
}
.slider-publicidad li{
  width: 100%;

}
.slider-publicidad li img{
  width: 100%;
}


@keyframes slider{
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  95% {margin-left: -300%;}
}

/*====== SERVICIOS ======= */
.about-us{
  background: #f2f2f2;
  padding-bottom: 30px;  
}
.servicio-cont{
  padding: 25px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr ;
  align-content: center;
  justify-items: center;
}
.servicio-ind{
  justify-content: center;
  align-items: center;
}
.img-servi{
  height: 75px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.info-i{
  font-size: 10px;
  padding-top: 15px;
  color: black;
 
  
}
a{
  display: flex;
  justify-content: center;

}

@media(max-width:868px){
  
  .servicio-cont{
      display:flex;
      align-items: center;
      justify-content: center;
      padding: 35px;
  }
  
  .servicio-ind{
      text-align: center;

  }
  .img-servi{
    height: 45px;
  }
  .info-i{
    font-size: 10px;
    padding-top: 15px;
   
    
  }

}



  /*===== footer ====*/
  footer{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background: #5a6a81b4 ;
    padding: 30px;
    border-top: 1px solid rgba(139, 139, 139, 0.671);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.07);

    
  }
  .foo-title{
    margin-bottom: 1rem;
    color: whitesmoke;

  }
  .foo-container{
    height: fit-content;
    width: 100%;
  display: flex;
    padding: 3rem 6rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;

  }
  .foo-link-cont{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
 
  .foo-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
  }
  .list-link-foo{
    margin-bottom: 0.5rem;
    color: whitesmoke;

  }
  .redes-foo{
    display: flex;
    
  }
  .bi{
    font-size: 23px;
    padding-right: 8px;
    color: white;
  }
  .foo-copy{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255, 255, 255, 0.288) ;
  }
  .copy-cont{
    font-size: 20px;
    color: whitesmoke;
  }

@media(max-width:868px){
  .foo-container{
    padding: 0.8rem;
    flex-direction: column;
  }
  .foo-link{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 10px;
    border-top: 1px solid  rgba(255, 255, 255, 0.288);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.288);
  }

  .bi{
    font-size: 15px;
  }
  .foo-title{
    padding-top: 5px;
    padding-right: 55px;
  }
  .copy-cont{
    padding-top: 5px;
    font-size: 15px;
  }
}
