@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*====== Slider======*/
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: #9B59B6;
    padding: 5px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(380px*10);
    transition: 3s ease;
}
.slider .slide{
    width: 380px;
}
.slider .slide h1{
    width: 100%;
}
h1{
    font-size: 10px;
    color: white;
    padding: 14px;
   font-family:sans-serif;
}
span{
    text-decoration: double;
    color: black;
    font-family: sans-serif;
}
@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-275px * 2));
        transform: translateX(calc(-275px * 2));

    }
}
/*======Menu de navegacion principal====*/

.nav-principal{
    padding: 25px;
    
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
}
.b{
    font-size: 30px;
    padding-right: 20px;
}
label{
    background-color: #F2F4F6;
}
input{
    border: none;
    border-radius: 5px;
    background-color:#F2F4F6;
   
    
}

/* ========= sub nav =========*/
.sub-nav{
   padding-right: 55px;
   padding-left: 55px;
    display: flex;
    justify-content: space-between;
}
.detalleschiky{
    display: flex;
}

.aliados{
    display: flex;
}
.det-info{
    padding: 10px;
}
.det-aliados{
    padding: 10px;
}


